$kasa-color:#FF6060;

.collapse-item {
    margin-bottom: 10px;
    width: 70%;

    @media (max-width:499px) {
        width: 90%;
    }

    .collapse-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2.5em;
        background: $kasa-color;
        padding: 5px 15px;
        border-radius: 5px;
        margin-top: 1em;
        

        .collapse-title {
            color: white;
            font-size: 18px;
            font-weight: 700;
        }

        .icon {
            color: white;
            font-size: 24px;
            transition: transform 0.3s;
            cursor: pointer;

            &.rotate {
                transform: rotate(180deg);
            }
        }
    }

    .collapse-content {
        background: #F6F6F6;
        height: 0;
        padding: 0;
        opacity: 0;

        transition:0.3s;
        overflow: hidden;
        p {
            height: 0;
        }
        &.show {
            height: auto;
            padding: 15px;
            opacity: 1;
            p {
                height: auto;
            }
        }
    }
}
.collapse-logements {
    display: flex;
    background-color: red;
}