$kasa-color:#FF6060;

.collapse-item {
    margin-bottom: 10px;
    width: 70%;

    .collapse-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2.5em;
        background: $kasa-color;
        padding-left: 10px;
        border-radius: 5px;
        margin-top: 1em;
        cursor: pointer;

        .collapse-title {
            color: white;
            font-size: 18px;
            font-weight: 700;
        }

        .icon {
            color: white;
            font-size: 24px;
            padding-right: 15px;
            transition: transform 0.3s;

            &.rotate {
                transform: rotate(180deg);
            }
        }
    }

    .collapse-content {
        padding: 15px;
        background: #F6F6F6;
    }
}